<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>
  <appSettings>
    <add key="debug" value="true"/>
    <add key="projectFlxTemplates" value="/ProjectFlx_Pages" />
  </appSettings>
  <system.web>
    <trace enabled="true" pageOutput="false" requestLimit="40" localOnly="false"/>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <handlers>
      <add name="projectflx-default" verb="*" path="*.aspx" type="ProjectFlx.FlxMain, FLX" />
    </handlers>
    <modules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" preCondition="" />
    </modules>
  </system.webServer>
  <rewriter>
    <register logger="Intelligencia.UrlRewriter.Logging.DebugLogger, Intelligencia.UrlRewriter" />
    <rewrite url="^(/.+(\.gif|\.png|\.jpg|\.ico|\.pdf|\.css|\.js|\.htm|\.html|\.xsl|\.xml|.xsd|.json|.svg|.ttf|.woff|.map)(\?.+)?)$" to="$1" processing="stop" />
    <rewrite url="^/trace.axd(\?.*)?$" to="trace.axd$1" processing="stop" />
    <!-- default handler, handles phantom pages like:  /Phantom ==> /Phantom.aspx -->
    <rewrite url="^(/[a-zA-Z._-]+.aspx)(\?.*)?$" to="$1$2" processing="stop" />
    <rewrite url="^/([/a-zA-Z0-9._-]+)(/?\?.*)?$" to="/$1.aspx$3" processing="stop" />
    <rewrite url=".*" to="/oiw_default.aspx?" processing="stop" />
  </rewriter>
  </configuration>
